body,html {
	margin: 0;
	padding: 0;
	background-color: #000;
}
video {			
	display: none;
}
canvas {
	position: absolute;
	top:100px;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;			
}

#paperCanvas {
	
	z-index: 100;
}
/*
#sourceCanvas {
	display: none;
}
*/